html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html, html * {
    box-sizing: border-box;
}

/*** Clearfix ***/
.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/*** Buttons http://cssdeck.com/labs/vzqwhdoj ***/
.button {
    display: inline-block;
    position: relative;
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-radius: 7px;
    outline: 0;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}

.button:before, .button:after {
    content: '';
    position: absolute;
}

.button:before {
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    z-index: -1;
    border-radius: 9px;
}

.button:after {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0;
    border-radius: 7px;
}

.button.alt {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.button.alt:before {
    display: none;
}
/*** Red button ***/
.button.red {
    background: #d02e17;
    border-color: #942110 #902010 #741a0d;
    background-image: -webkit-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: -moz-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: -o-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: linear-gradient(to bottom, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
}

.button.red:before {
    background: #ee442c;
    background-image: -webkit-linear-gradient(top, #b32511, #f3533c);
    background-image: -moz-linear-gradient(top, #b32511, #f3533c);
    background-image: -o-linear-gradient(top, #b32511, #f3533c);
    background-image: linear-gradient(to bottom, #b32511, #f3533c);
}

.button.red:active {
    background: #e63b1b;
    background-image: -webkit-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: -moz-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: -o-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: linear-gradient(to bottom, #a9110b 0%, #de3819 60%, #e63b1b 100%);
}

.button.red:active:after {
    border-color: #e63b1b;
}

/*** ~End of Buttons ***/

/*** Flashing answers ***/
.flash {
    animation-iteration-count: infinite;
    -moz-animation: flash 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: flash 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -ms-animation: flash 1s ease-out;
    -ms-animation-iteration-count: infinite;
}

@keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #20fb11;
    }
    100% {
        background-color: transparent;
    }
}

@-webkit-keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #20fb11;
    }
    100% {
        background-color: transparent;
    }
}

@-moz-keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #20fb11;
    }
    100% {
        background-color: transparent;
    }
}

@-ms-keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #20fb11;
    }
    100% {
        background-color: transparent;
    }
}
/*** Icons ***/
.ico {
    background: transparent url("../img/icons-24.png") no-repeat 0 10000px;
}

body {
    padding: 20px;
	background: #657636 url("../img/berries.png") no-repeat right top;
    font: normal normal normal 1em/100% "Garamond", sans-serif;
}

h2 {
    color: #fff;
    line-height: 130%;
    text-shadow: 4px 4px 0px rgba(44, 60, 22, 1);
}

.panel {
    color: white;
    font-weight: bold;
    font-size: 130%;
    background-color: #c09364;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    -webkit-box-shadow: -15px -15px 15px -5px rgba(44, 60, 22, 1);
    -moz-box-shadow: -15px -15px 15px -5px rgba(44, 60, 22, 1);
    box-shadow: -15px -15px 15px -5px rgba(44, 60, 22, 1);
}

.panel.buttons {
    padding: 10px;
}


#bear {
    display: none;
    font-size: 200%;
    height: 120px;
    padding-left: 120px;
    background-image: url("../img/medve-100.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

#bear .answer {
    display: none;
}

body.answered #bear {
    display: block
}

body.ok #bear .answer.ok {
    display: block;
    color: green;
}

body.fail #bear .answer.fail {
    display: block;
    color: red;
}

/** States  */
/***** Show only in Answered state *****/
.show-when-answered {display: none;}
body.answered .show-when-answered {display: inline-block;}

/***** Show only in Unanswered state *****/
.show-when-unanswered {display: inline-block;}
body.answered .show-when-unanswered {display: none;}

/***** Show only in Answered OK state *****/
.show-when-ok {display: none;}
body.ok .show-when-ok {display: inline-block;}

/***** Show only in Answered Fail state *****/
.show-when-fail {display: none;}
body.fail .show-when-fail {display: inline-block;}