body.multichoice .panel.multichoice .choice {
    margin-bottom: 10px;
}
body.multichoice .panel.multichoice > .choice:last-child {
    margin-bottom: 10px;
}

body.multichoice input[type="checkbox"] {display: none;}
body.multichoice input[type="checkbox"]+label {
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 40px;
    cursor: pointer;
    background-position: 0 2px;
}
body.multichoice input[type="checkbox"]:checked+label {
    background-position: 0 -130px;
}
