#p01 .panel.multichoice .choice {
    margin-bottom: 10px;
}
#p01 .panel.multichoice > .choice:last-child {
    margin-bottom: 10px;
}

#p01 input[type="checkbox"] {display: none;}
#p01 input[type="checkbox"]+label {
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 40px;
    cursor: pointer;
    background-position: 0 2px;
}
#p01 input[type="checkbox"]:checked+label {
    background-position: 0 -130px;
}
#p01.answered input[type="checkbox"]+label {
    cursor: no-drop;
}
