#p02 .panel.connectables {
    position: relative;
    width: 100%;
}
#p02 .panel.connectables > .sources{
    float: left;
    width: 25%;
    height: 100%;
}
#p02 .panel.connectables > .destinations{
    float: left;
    margin-left: 49%;
    width: 25%;
    height: 100%;
}

#p02 .panel.connectables .connectable {
    margin-bottom: 10px;
    padding: 20px 10px;
    background: #942110;
    border-radius: 10px;
}
#p02 .panel.connectables > .connectable:last-child {
    margin-bottom: 10px;
}
#p02 .panel.connectables .arrow{
    position: absolute;
    height:12px;
    background: url("../img/Arrow.png") no-repeat 100% 50%;
}

#p02 .panel.connectables .arrow.reverse{
    background-position: 0 50%;
}
