#p04 {border: 3px solid yellow;}
#p04 h2.description {
    margin:0;
    padding:0;
    border: 2px solid red;
}
#p04 .svgs{
    border: 1px solid red;
    float: left;
    width: 100%;
    height: calc(100% - 130px);
}
#p04.answered .svgs{
    height: calc(100% - 270px);
}

#p04 .panel.buttons {
    border: 1px solid cyan;
    float: left;
    width: 100%;
    height: 55px;
}
/*****  Left side: Persons *****/
#p04 .svgs .persons{
    border: 1px solid magenta;
    float: left;
    width: 25%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#p04 .svgs .persons > .person{
    background-color: yellow;
    border:3px solid black;
    border-radius: 50%;
    width:80px;
    height:80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size:100%;
    color:teal;
    float: left;
    margin: 10px;
    /*background: transparent url(../img/empty-circle.svg) no-repeat 0 0;
    background-size: 100% auto;*/
}
/*****  Right side Drop zones*****/
#p04 .svgs .dropfield {
    border: 1px solid blue;
    position: relative;
    float: left;
    width: 72%;
    height: 100%;
    margin-left: 3%;
}

#p04 .svgs .dropfield .centerzone{
    position: absolute;
    Xdisplay: table;
    width: 25%;
    height: 25%;
    margin: 0 auto;
    background: url("../img/blue-center.svg") no-repeat 0 0;
    background-size: 100% 100%;
    border: 2px solid black;
}
#p04 .svgs .dropfield .centerzone > span {
    display: table-cell;
    vertical-align: middle;
}
#p04 .svgs .dropfield .dz {
    position: absolute;
    top:0;
    left:0;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background: transparent url("../img/empty-circle.svg") no-repeat 0 0;
    background-size: 100% 100%;
}
#p04 #bear.panel {
    Xfloat: left;
    width: 100%;
    height: 120px;
    border: 1px solid darkmagenta;
}
/*** Aroows ***/
#p04 .ca{
    width: 200px;
    position: absolute;
    height:12px;
}

#p04 .ca > .left {
    float: left;
    width: 14px;
    height: 100%;
}
#p04 .ca > .right {
    float: right;
    width: calc(100% - 14px);
    height: 100%;
}
#p04 .ca-positive, #p04 .ca-negative > .right {
    background: url("../img/Arrow.png") no-repeat 100% 50%;
}
#p04 .ca-negative > .left{
    background: url("../img/Arrow.png") no-repeat 0 50%;
}
